
<!-- Este componente no lo uso de momento, lo dejo comentado por si lo necesito en un futuro -->

<!--
<app-menu></app-menu>

 <div class="imgfondo mt-0">


  <div class="mb-2">
    <br>

    <p class="container text-white h1 py-5"> Encuentra las cotizaciones y ratios de las mejores empresas del mundo </p>
  </div>

  <div *ngIf="primera">

    <nav class="mt-5 container col-lg-8">
      <div class="nav nav-tabs row d-flex justify-content-center" id="nav-tab" role="tablist">

        <a class="nav-link active col-4" id="nav-home-tab" data-bs-toggle="tab" role="tab" aria-controls="nav-home"
          (click)="primera=true" routerLink="/cotizacion" aria-selected="true">Cambio de una cotización (%)</a>

        <a class="nav-link col-4 text-white" id="nav-profile-tab" data-bs-toggle="tab" role="tab"
          aria-controls="nav-profile" (click)="primera=false" routerLink="/interes" style="cursor: pointer; "
          aria-selected="false">Interés compuesto</a>

      </div>
    </nav>
  </div>


  <div *ngIf="!primera">

    <nav class="mt-5 container col-lg-8">
      <div class="nav nav-tabs row d-flex justify-content-center" id="nav-tab" role="tablist">

        <a class="nav-link col-4 text-white" id="nav-home-tab" data-bs-toggle="tab" role="tab" aria-controls="nav-home"
          (click)="primera=true" style="cursor: pointer; " routerLink="/cotizacion" aria-selected="false">Cambio de una
          cotización (%)</a>

        <a class="nav-link active col-4" id="nav-profile-tab" data-bs-toggle="tab" role="tab"
          aria-controls="nav-profile" (click)="primera=false" routerLink="/interes" aria-selected="true">Interés
          compuesto</a>

      </div>
    </nav>

  </div>

</div> -->