<app-menu></app-menu>

<div class="imgfondo mt-0">

  <div class="mb-2">
    <br>
    <p class="container text-white h1 py-5"> Calcule el cambio de cotización y el interés compuesto </p>
  </div>

  <nav class="mt-md-5 container col-lg-8">
    <div class="nav nav-tabs row d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-link col-sm-4 col-5 bg-white mx-2" id="nav-home-tab" data-bs-toggle="tab" role="tab"
        aria-controls="nav-home" style="cursor: pointer; " routerLink="/cotizacion">Cambio de cotización</a>

      <a class="nav-link col-sm-4 col-5 boton mx-2" id="nav-profile-tab" data-bs-toggle="tab" role="tab"
        aria-controls="nav-profile" routerLink="/interes">Interés compuesto</a>

    </div>
  </nav>

  <div class="grisclaro">

    <br><br>

    <div class="container col-lg-7 bg-white border shadow">

      <div class="container center py-5 px-md-5 mx-auto">

        <p class="h1 mb-5"> Calcula el interés compuesto </p>
        <h5 class="mb-5"> Puedes calcular el interés generado con cualquier divisa debido a que los cálculos son los
          mismos independientemente de la divisa. </h5>

        <form [formGroup]="form" (ngSubmit)="save($event)">

          <div class="form-group">
            <span class="h5"> CAPITAL INICIAL: </span><br><br>
            <input type="text" placeholder="Ejemplo: 7000" class="form-control mb-4" formControlName="CapitalInicial">
          </div>

          <div class="form-group">
            <span class="h5"> CAPITAL AÑADIDO ANUALMENTE: </span><br><br>
            <input type="text" placeholder="Ejemplo: 3000" class="form-control mb-4" formControlName="CapitalExtra">
          </div>

          <div class="form-group">
            <span class="h5"> DURACIÓN DE LA INVERSIÓN (AÑOS): </span><br><br>
            <input type="text" placeholder="Ejemplo: 10" class="form-control mb-4" formControlName="Duracion">
          </div>

          <div class="form-group">
            <span class="h5"> RENTABILIDAD ANUAL (%):</span> <br><br>
            <input type="text" placeholder="Ejemplo: 7" class="form-control mb-4" formControlName="Rentabilidad">
          </div>

        </form>

        <div id="efectonum" class="text-right h2 mt-5"></div>

      </div>
    </div>


    <div class="my-5">
      <br>
    </div>


  </div>