<app-menu></app-menu>

<div *ngIf="producto">
  <div class="container col-lg-4 mt-5 my-5 py-4 px-3">
    <div class="card shadow">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>ID: </b>{{producto.id}}</li>
        <li class="list-group-item"><b>Nombre: </b>{{producto.nombre}}</li>
        <li class="list-group-item"><b>Isin: </b>{{producto.isin}}</li>
        <li class="list-group-item"><b>Ticker: </b>{{producto.ticker}}</li>
        <li class="list-group-item"><b>Ter: </b>{{producto.ter}}%</li>
      </ul>
      <div class="card-footer bg-white">
        <!-- <button class="btn btn-outline-dark btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button> -->
        <a class="linkmin btn btn-block" routerLink="/lista"> Volver </a>
      </div>
    </div>

  </div>
</div>